<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>View Tickets</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard">

    <!-- Sidebar -->
    <div class="sidebar">

        <h2>IT Help Desk</h2>

        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/create-ticket">Create Ticket</a></li>
            <li><a href="/tickets">View Tickets</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>

    </div>

    <!-- Main Content -->
    <div class="main-content">

        <h1>All Tickets 📋</h1>

        <p class="welcome-text">
            Manage all IT support requests
        </p>

        <div class="table-container">

            <table>

                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Employee</th>
                        <th>Issue</th>
                        <th>Category</th>
                        <th>Priority</th>
                        <th>Status</th>
                    </tr>
                </thead>

                <tbody>

                    {% for ticket in tickets %}

                    <tr>
                        <td>{{ ticket[0] }}</td>
                        <td>{{ ticket[1] }}</td>
                        <td>{{ ticket[2] }}</td>
                        <td>{{ ticket[3] }}</td>
                        <td>{{ ticket[4] }}</td>
                        <td>{{ ticket[6] }}</td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>